{% extends "base.html" %}

{% block title %}Acerca de - BigData Resoluciones Ambientales{% endblock %}

{% block content %}

<h2 class="text-center fw-bold mb-4">BigData-MiProyecto</h2>
<h4 class="text-center mb-4">Descripción del Proyecto</h4>

<p class="text-center fs-5 px-4">
    Plataforma de analítica de datos orientada al estudio y clasificación de resoluciones ambientales 
    emitidas por la Autoridad Nacional de Licencias Ambientales (ANLA), utilizando MongoDB, Python 
    y motores de búsqueda como Elasticsearch.
</p>

<div class="row justify-content-center mt-5">
    <!-- Columna foto y datos -->
    <div class="col-md-5 text-center">
        <img src="{{ url_for('static', filename='images/Foto_creador.jpg') }}"
        alt="Foto del creador" class="profile-img">

        <h3 class="mt-4 fw-bold">Oswaldo Salgado Gómez</h3>
        <p class="fs-5">
            Estudiante de Maestría en Analítica de Datos<br>
            Universidad Central
        </p>

        <div class="mt-4">
            <a href="https://github.com/oswalsalgomez"
               target="_blank"
               class="btn-github me-2">
                GitHub
            </a>

            <a href="https://www.linkedin.com/in/oswaldo-salgado-gomez-80767228"
               target="_blank"
               class="btn-linkedin">
                LinkedIn
            </a>
        </div>
    </div>

    <!-- Columna logo universidad -->
    <div class="col-md-5 text-center d-flex flex-column justify-content-center">
        <img src="{{ url_for('static', filename='images/logo_u.webp') }}"
             alt="Universidad Central" class="logo-ucentral">
    </div>
</div>

{% endblock %}
