{% extends "base.html" %}

{% block title %}Inicio - BigData Oswaldo Salgado Gómez{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">
        Bienvenidos al proyecto de BigData<br>
        creado por Oswaldo Salgado Gómez<br>
        como parte de un proyecto de clase<br>
        en la Maestría de Analítica de Datos<br>
        de la Universidad Central
    </h1>

    <div class="text-center mt-4">
        <a href="{{ url_for('buscador') }}" class="btn btn-linkedin me-2">
            Ir al Buscador
        </a>
        <a href="{{ url_for('about') }}" class="btn btn-github">
            Acerca del Proyecto
        </a>
    </div>
{% endblock %}