/* Fondo general */

body {
    background: linear-gradient(to right, #255821, #40E0D0);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    background-color: rgba(255, 255, 255, 0.90);
    padding: 1rem 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* CONTENEDOR BLANCO CENTRAL */
.main-container {
    background: rgba(255, 255, 255, 0.95);
    padding: 2.5rem;
    border-radius: 14px;
    margin-top: 2rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.18);
}

/* FOOTER */
footer {
    background-color: rgba(0, 95, 73, 0.9);
    padding: 1rem 0;
    margin-top: 2rem;
    color: #fff;
    text-align: center;
}

/* Foto perfil */
.profile-img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0a4836;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

/* Logo Universidad */
.logo-ucentral {
    width: 260px;
    margin-top: 20px;
    filter: drop-shadow(0 3px 8px rgba(0,0,0,0.2));
}

/* Botón GitHub oficial */
.btn-github {
    background-color: #24292e;
    color: white !important;
    padding: 10px 22px;
    border-radius: 10px;
    font-weight: bold;
}
.btn-github:hover {
    background-color: #000;
}

/* Botón LinkedIn oficial */
.btn-linkedin {
    background-color: #0A66C2;
    color: white !important;
    padding: 10px 22px;
    border-radius: 10px;
    font-weight: bold;
}
.btn-linkedin:hover {
    background-color: #004182;
}
